@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

body{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 24px;
}

.container{
	color: black;
	padding: 0 100px 0 100px;
	max-width: 1024px;
	margin: 0 auto;
}

.bayan__memes {
	margin-bottom: 50px;
}

.bayan__memes:hover .label-meme__icon{
	display: block;
}

.memes-bayan__bayan-meme {
	position: relative;
	border-top: 1px solid gray;
	padding-top: 10px;
}
.memes-bayan__bayan-meme:not(:last-child){
	margin-bottom: 10px;
}

.memes-bayan__meme-input {
	position: absolute;
	visibility: hidden;
}
.memes-bayan__meme-label::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.memes-bayan__meme-input:checked ~ .memes-bayan__meme-image{
	display: block;
}

.memes-bayan__meme-label {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	margin-bottom: 10px;
}

.memes-bayan__meme-input:checked ~ .memes-bayan__meme-label{
	color: blue;
}

.label-meme__icon {
	display: none;
	width: 10px;
	transition: 0.3s;
}
.memes-bayan__meme-input:checked + .memes-bayan__meme-label > .label-meme__icon{
	transform: rotate(-90deg);
	transition: 0.3s;
}

.memes-bayan__meme-image {
	display: none;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

@media (max-width: 1920px){
	  
}

@media (max-width: 820px){
	body{
		font-weight: 700;
		font-size: 20px;
	}

	.container{
		padding: 0 50px 0 50px;
	}
}

@media (max-width: 320px){
	body{
		font-weight: 700;
		font-size: 18px;
	}

	.container{
		padding: 0 20px 0 20px;
	}
}
